[submodule "mecaviv-rs"]
	path = mecaviv-rs
	url = https://github.com/mecaviv/mecaviv-rs.git
[submodule "SirenePupitre/firmware/nidmi"]
	path = SirenePupitre/firmware/nidmi
	url = https://github.com/patricecolet/NiDMI.git
	branch = feat/usb-net
[submodule "SirenePupitre/firmware/nidmi-core"]
	path = SirenePupitre/firmware/nidmi-core
	url = https://github.com/patricecolet/nidmi-core.git
	branch = feat/usb-ncm-spike
